/* Header / Navigation Bar  */
li {
    float: right;
    list-style-type: none;
    display: inline;
}

li a {
    display: block;
    padding: 15px;
    margin: 15px 0 0 0;
    color: gray;
    background-color: #ffffff;
}

li :visited {
    color: #666666;
}

li :link {
    text-decoration: none;
}

#active {
    background-color: #4aaaa5;

}

li a:hover {
    background-color: #4aaaa5;
}

.divider {
    height: 18px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 76px;
    border-bottom: solid 1px gray;
    background-color: #ffffff;
}

#header-bar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960px;
    margin: 0 auto;
}

.name{
    width: 200px;
    color: white;
    margin: 0;
    background-color: #4aaaa5;
    padding: 22px;
    text-align: center;
    top: 0;
    position: absolute;
    font-size: 2em;
}


/* Content Div */

body {
    margin: 0;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/curls.png");    
    background-size: ;
}

.content {
  width: 960px;
  margin: 100px auto;
}

.bio-p {
    padding: 5px 15px 15px 15px;
    line-height: 2em;
}

.bio-img {
    float: left;
    padding: 15px;
}

.bio-div {
    float: left;
    width: 650px;
    background: white;
    padding: 0;
}

.sidebar {
    float: right;
    width: 270px;
    background: white;
    color: #4aaaa5;
    font-size: 24px; 
    text-align: center;   
    padding: 10px 0 0 0;
}

/* Footer */
.copyright {
    text-align: center;
    clear: both;
    padding: 20px 0;
    background-color: #666666;
    color: rgb(165, 182, 182);
    border-top: 5px solid #4aaaa5;
    font-size: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* Positioning IDs for the footers on each page */

#index-footer{
    bottom: 0;
    position: absolute;
}

#port-footer {
    bottom: 0;
    position: absolute;
}

#contact-footer {
    bottom: 0;
    position: absolute;
}


#index-bio-div-header {
    padding: 0 15px;
    color: #4aaaa5;
    font-size: 28px;
    margin: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;    
}



div hr {
    max-width: 630px;   
}

.sidebar hr{
    width: 260px;
}

#index-bio-div img {
    float: left;
    padding: 20px 15px;
    width: 30%;
}

.sidebar img {
    float: left; 
    width: 25%;
    padding: 0 4.16% 10px 4.16%;
}

.pad {
    padding: 7px;
}

#index-bio-div p {
    line-height: 200%;
    padding: 0 15px;
}



/* =================================== Contact Page ===============================  */
#contact{
    padding: 0 15px;
    color: #4aaaa5;
    font-size: 28px;
    margin: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;  
}


 #contact-hr {
    max-width: 621.5px; 
    margin: 1em 0 1em 10px; 
 }

form {
    float: left;
    margin: 0 0 50px 0;   
}

label {
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 95%;
    padding: 10px 0;
    margin: 1em 0 1em 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

textarea {
    margin: 1em 0 1em 10px;
    width: 95%;
    height: 157px;
}

.mainForm {
    width:650px;
    background-color: white;
}

.button {
    background-color: #4aaaa5;
    padding: 10px 15px;
    text-align: center;
    color: white;
    margin: 1em 1em;
    font-size: 16px;
}


/* ===================================== Portfolio ============================= */

#port-bio {
    margin: 0 0 50px 0;
}


/* Make class for images */

.portfolio-image{
    float: left;
    width: 40%;
    margin: 20px 5%;
    padding: 0;
}

p a:visited {
    color: #666666;
}

p a:link {
    text-decoration: none;
}

p a:hover {
    background-color: #674aaa;
}

p a {
    display: block;
    padding: 13px 0 14px 0;
    color: gray;
    background-color: rgba(57, 168, 161, .5);
    width: 260px;
}

#pong-img{
    width: 260px;
    height: 260px;
}

#text-box1 {
    color: white;
    padding: 20px 0 35px 0;
    position: absolute;
    top: 199px;
    right: 825px;
    bottom: 200px;
    left: 33px;
    text-align: center;
}

#text-box2 {
    color: white;
    padding: 20px 0 35px 0;
    position: absolute;
    top: 199px;
    right: 500px;
    bottom: 695px;
    left: 357px;
    text-align: center;
}

#text-box3 {
    color: white;
    padding: 20px 0 35px 0;
    position: absolute;
    top: 499px;
    right: 825px;
    bottom: 200px;
    left: 32px;
    text-align: center;
}

#text-box4 {
    color: white;
    padding: 20px 0 35px 0;
    position: absolute;
    top: 499px;
    right: 500px;
    bottom: 200px;
    left: 357px;
    text-align: center;
}

#text-box5 {
    color: white;
    padding: 20px 0 35px 0;
    position: absolute;
    top: 799px;
    right: 825px;
    bottom: 200px;
    left: 32px;
    text-align: center;
}

.relative {
    position: relative;
    left: 0;
}

/* Media Queries */


@media screen and (max-width: 980px){

    .content {
        margin: 100px auto;
        width: 720px;
    }

    #header-bar {
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 720px;
        margin: 0 auto;
    }

    .bio-div {
        float: left;
        width: 400px;
        background: white;
        padding: 0;
        margin-bottom: 20px;
    }

  

    .bio-img {
        float: none;
        width: 90%;
    }

    .sidebar {
        width: 270px;
        background: white;
        color: #4aaaa5;
        font-size: 24px;
        text-align: center;
        padding: 10px 0 0 0;
    }

    #index-footer {
        bottom: 0;
        position: relative;
    }

    ul {
    list-style: none;
    float: right;
    }


    /* Contact page */

    .mainForm {
        width: 400px;
    }

    #contact-hr {
        margin: 1em 1em 1em 10px;
    }

    /* Portfolio Page */

    .portfolio-image{
        float: none;
        margin: 10px auto;
        display: block;
        width: auto;
    }

    #pong-img{
        width: 225px;
        height: 225px;
    }

    p a {
        width: 225px;
    }

    /* Textbox link overlays */

    #text-box1 {
        top: 160px;
        right: 825px;
        bottom: 200px;
        left: 87px;
    }

    #text-box2 {
        top: 162px;
        right: 500px;
        bottom: 695px;
        left: 87px;
    }

    #text-box3 {
        top: 162px;
        right: 825px;
        bottom: 214px;
        left: 88px;
    }

    #text-box4 {
        top: 162px;
        right: 500px;
        bottom: 509px;
        left: 88px;
    }

    #text-box5 {
        top: 162px;
        right: 825px;
        bottom: 200px;
        left: 88px;
    }

}



@media screen and (max-width: 768px){
    
    .content {
        margin: 100px auto;
        width: 625px;
    }

    #header-bar {
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 625px;
        margin: 0 auto;
    }

    .bio-div {
        float: none;
        width: 100%;
        background: white;
        padding: 0;
        margin-bottom: 20px;
    }

    #index-bio-div-header {
        padding-top: 20px;
    }

    .bio-img {
        float: left;
        width: 260px;
    }

    .sidebar {
        width: 100%;
        background: white;
        color: #4aaaa5;
        font-size: 24px;
        padding: 10px 0 0 0;
        margin-top: -50px;
        margin-bottom: 20px;
    }

    #index-footer {
        bottom: 0;
        position: relative;
    }

    ul {
    list-style: none;
    float: right;
    }

    .side-p {
        text-align: left;
        margin-left: 10px;
    }

    .side-hr {
        margin-left: 10px;
    }

    .sidebar img {
        width: 10%;
        padding: 0 2.16% 5px 2.16%;
    }

    /* Contact Page */

    .mainForm {
        width: 100%;
        margin-bottom: 65px;
    }
    
    /* Portfolio Page */

    .portfolio-image{
        float: left;
        width: 40%;
        margin: 20px 5%;
        padding: 0;
    }

    p a {
        width: 250px;
    }

    .port-div {
        height: 935px;
    }

    #pong-img{
        width: 250px;
        height: 250px;
    }

    #text-box1 {
        top: 207px;
        right: 825px;
        bottom: 200px;
        left: 31px;
    }
    
    #text-box2 {
        top: 207px;
        right: 500px;
        bottom: 695px;
        left: 343px;
    }
    
    #text-box3 {
        top: 497px;
        right: 825px;
        bottom: 200px;
        left: 31px;
    }
    
    #text-box4 {
        top: 497px;
        right: 500px;
        bottom: 200px;
        left: 343px;
    }
    
    #text-box5 {
        top: 787px;
        right: 825px;
        bottom: 200px;
        left: 31px;
    }


}




@media screen and (max-width: 640px){
    
        
    .content {
        margin: 100px auto;
        width: 500px;
    }

    #header-bar {
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 625px;
        margin: 0 auto;
    }

    .name {
        width: 100%;
    }

    #index-bio-div-header {
        padding-top: 20px;
    }

    .bio-div {
        float: none;
        width: 100%;
        background: white;
        padding: 0;
        margin-bottom: 20px;
        margin-top: 140px;
    }

    .bio-img {
        float: left;
        width: 260px;
    }

    .sidebar {
        width: 100%;
        background: white;
        color: #4aaaa5;
        font-size: 24px;
        padding: 10px 0 0 0;
        margin-top: -50px;
        margin-bottom: 20px;
    }

    #index-footer {
        bottom: 0;
        position: relative;
    }

    ul {
    list-style: none;
    float: none;
    margin-top: 62px;
    }

    li {
        float: left;
        width: 33.3%;
    }

    .side-p {
        text-align: left;
        margin-left: 10px;
    }

    .side-hr {
        margin-left: 10px;
    }

    .sidebar img {
        width: 10%;
        padding: 0 2.16% 5px 2.16%;
    }

    a {
        text-align: center;
    }

    /* Contact Page  */

    .mainForm {
        margin-top: 40px;
    }

    /* Portfolio Page */

    .port-div{
        height: 1260px;
        margin-top: 140px;
    }

    .portfolio-image{
        float: none;
        margin: 10px auto;
        display: block;
        width: auto;
    }

    #pong-img{
        width: 225px;
        height: 225px;
    }

    p a {
        width: 225px;
    }

    #text-box1 {
        left: 138px;
        top: 160px;
    }

    #text-box2 {
        left: 138px;
        top: 162px;
    }

    #text-box3 {
        left: 138px;
        top: 162px;
    }

    #text-box4 {
        left: 138px;
        top: 162px;
    }

    #text-box5 {
        left: 138px;
        top: 162px;
    }

    
}